<div  class="container mt-5">
  <p>{{authError}}</p>
  <form #Logindata="ngForm" (ngSubmit)="Login(Logindata.value)" class="row g-3 needs-validation" novalidate>

      <div class="mb-3 mt-5">
          <label for="validationCustom01" class="form-label">Name</label>
          <input type="text" ngModel name="userName" class="form-control" id="validationCustom01" value="Mark"  placeholder="user name" required>
      </div>
      <div class="mb-3">
          <label for="inputPassword2" class="form-label">Password</label>
          <input type="password" ngModel name="password" class="form-control" id="inputPassword2"
              placeholder="Password">
      </div>
      <div class="col-12">
          <button class="btn btn-primary">Login</button>
          <button routerLink="/register-page" class="ms-3 btn btn-primary">Register</button>
      </div>
      <!-- <a class="cursor" (click)="openSignUp()">Don't Have account Click to Sign-Up</a> -->
  </form>
</div>

