
<div class="card text-center">
    <div class="card-header">
      Attendance
    </div>
    <div class="card-body">
      <h4 class="card-title">hellow {{userName}}</h4>
      <h5 class="card-title" >Date : {{now | date:'dd/MM/yyyy'}}</h5>
      <p class="card-text" >Time  {{now |date:'HH:mm:ss'}}</p>
    <div class="container mb-3">
      <button type="submit" (submit)="attandance()" class="btn btn-primary ms-3">SIGN IN</button>
      <button type="submit" class="btn btn-primary ms-3">SIGN OUT</button>
    </div>
    <div class="container mt-5">
      <button type="submit" class="btn btn-primary" routerLink="/user-attendance-report">View report</button>
    </div>
    </div>
    <div class="card-footer text-muted">

    </div>
  </div>

